:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  margin: 0;
  padding: 0;
  background-color: #242424;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Match setup */
h2 {
  text-align: center;
  margin-top: 0;
}
.players-form {
  margin-bottom: 25px;
}
.players-form .p1-form {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}
.players-form .p2-form {
  display: flex;
  gap: 15px;
}
.who-breaks {
  display: flex;
  flex-direction: column;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}
input,
select {
  padding: 5px 10px;
}
.input-error {
  border: 1px solid red;
}

/* Game UI */
.ui-header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  margin-bottom: 45px;
  width: 100%;
}
.p-card {
  padding: 25px;
  border-radius: 5px;
  border: 1px solid #213547;
  position: relative;
}
.p-card.current-player {
  background: #213547;
  border: 1px solid #646cff;
}
.ui-header .middle-stats {
  text-align: center;
}
.ui-header .middle-stats .game-timer {
  font-size: 14px;
}
.ui-header .middle-stats .innings {
  font-size: 14px;
  margin-top: 10px;
}
.p-card h3 {
  margin: 0 0 10px;
  /* position: relative; */
}
.p-card span.break {
  font-size: 7px;
  background: #646cff;
  padding: 3px;
  border-radius: 2px;
  display: inline-block;
  /* margin-left: 10px; */
  vertical-align: middle;
  position: absolute;
  top: 0;
}
.p-card:first-of-type span.break {
  right: 0;
}
.p-card:last-of-type span.break {
  left: 0;
}
.ui-header :nth-of-type(3) {
  text-align: right;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  margin-top: 25px;
}
.btn-wrapper button {
  width: 100%;
}

/* Gameover modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #242424;
  padding: 2rem;
  border-radius: 1rem;
  width: 80%;
  text-align: center;
}

.modal-buttons button {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}

/* Match End Modal */
.modal.match-end h3 {
  color: green;
}
.match-summary {
}
.match-summary .title {
  font-weight: 700;
  margin-bottom: 10px;
}
.match-summary .scores {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 15px;
}
.match-summary .game-summary {
  margin-bottom: 10px;
}
.match-summary .game-winner {
  background: #213547;
  font-size: 14px;
}
.match-summary .game-stats {
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 12px;
  margin-top: 5px;
}
